openapi: 3.0.0
info:
  title: Prisma Browser Management Console Public API
  description: This Open API spec file represents the APIs available for Palo Alto Networks Prisma Browser Management APIs. These APIs are available for all Prisma Browser tenants to scale and automate their processes related to the browser. All of the functionality exposed by these APIs can also be performed using the Prisma Browser User Interface. These APIs use the common SASE authentication mechanism and base URL. See the Prisma SASE API Get Started guide for more information. © 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of our trademarks can be found at https://www.paloaltonetworks.com/company/trademarks.html. All other marks mentioned herein may be trademarks of their respective companies.
  version: 1.0.0
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- BearerAuth: []
paths:
  /seb-api/v1/users:
    get:
      operationId: ListUsers
      tags:
      - Users
      summary: Returns a list of users
      parameters:
      - name: limit
        in: query
        description: Number of users to return
        required: false
        schema:
          type: integer
          format: int32
      - name: includeDeleted
        in: query
        description: Include deleted users
        required: false
        schema:
          type: boolean
      - name: user.name
        in: query
        description: Filter by user name
        required: false
        schema:
          type: string
      - name: user.email
        in: query
        description: Filter by user email
        required: false
        schema:
          type: string
      - name: user.first_seen_gte
        in: query
        description: Filter by first seen time or after
        required: false
        schema:
          type: string
          format: date-time
      - name: user.last_seen_lte
        in: query
        description: Filter by last seen time or before
        required: false
        schema:
          type: string
          format: date-time
      - name: user.status
        in: query
        description: Filter by user status
        required: false
        schema:
          $ref: '#/components/schemas/UserStatus'
      - name: groupId
        in: query
        description: Filter by user group ID. Supports comma-separated values to filter by multiple groups (e.g. groupId=id1,id2,id3).
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: The field to sort by
        required: false
        schema:
          type: string
          enum:
          - user.name
          - user.email
          - user.first_seen
          - user.last_seen
          - user.status
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: A list of users with pagination info
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad request
        '500':
          description: Internal server error
  /seb-api/v1/users/{id}:
    get:
      operationId: GetUserByID
      tags:
      - Users
      summary: Returns a user by ID
      parameters:
      - name: id
        in: path
        description: User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
  /seb-api/v1/users/suspend:
    post:
      operationId: SuspendUsers
      tags:
      - Users
      summary: Suspend users
      description: Suspend one or more users by changing their status to suspended. Suspended users will lose access to the browser from all of their known or future devices, except from their Prisma Browser Extension and mobile devices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserStatusChangeRequest'
      responses:
        '200':
          description: Users suspended successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSuspendResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more users not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/users/resume:
    post:
      operationId: ResumeUsers
      tags:
      - Users
      summary: Resume suspended users
      description: Resume one or more suspended users by changing their status to active. Resumed users will regain access to the browser from all of their known or future devices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserStatusChangeRequest'
      responses:
        '200':
          description: Users resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResumeResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more users not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/users/force-reauth:
    post:
      operationId: ForceReauthUsers
      tags:
      - Users
      summary: Force re-authentication for users
      description: Force re-authentication on all active devices for one or more users. Upon execution, targeted users will be required to re-authenticate to the browser on all of their devices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserStatusChangeRequest'
      responses:
        '200':
          description: Force re-authentication initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserForceReauthResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more users not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/devices:
    get:
      operationId: ListDevices
      tags:
      - Devices
      summary: Returns a list of devices
      parameters:
      - name: limit
        in: query
        description: Number of devices to return
        required: false
        schema:
          type: integer
          format: int32
      - name: device.hostname
        in: query
        description: Filter by hostname
        required: false
        schema:
          type: string
      - name: user.name
        in: query
        description: Filter by user name
        required: false
        schema:
          type: string
      - name: device.os_type
        in: query
        description: Filter by OS type
        required: false
        schema:
          type: string
      - name: device.first_seen_gte
        in: query
        description: Filter by first seen time or after
        required: false
        schema:
          type: string
          format: date-time
      - name: device.last_seen_lte
        in: query
        description: Filter by last seen time or before
        required: false
        schema:
          type: string
          format: date-time
      - name: device.last_seen_gte
        in: query
        description: Filter by last seen time or after
        required: false
        schema:
          type: string
          format: date-time
      - name: device.type
        in: query
        description: Filter by device type
        required: false
        schema:
          type: string
      - name: device.firewall_status
        in: query
        description: Filter by firewall status
        required: false
        schema:
          type: string
      - name: device.screen_lock_status
        in: query
        description: Filter by screen lock status
        required: false
        schema:
          type: string
      - name: device.disk_encryption_status
        in: query
        description: Filter by disk encryption status
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: The field to sort by
        required: false
        schema:
          type: string
          enum:
          - device.hostname
          - device.os_type
          - device.browser_version
          - device.first_seen
          - device.last_seen
          - user.name
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: A list of devices with pagination info
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
        '400':
          description: Bad request
        '500':
          description: Internal server error
  /seb-api/v1/devices/{id}:
    get:
      operationId: GetDeviceByID
      tags:
      - Devices
      summary: Returns a device by ID
      parameters:
      - name: id
        in: path
        description: Device ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '404':
          description: Device not found
  /seb-api/v1/devices/archive:
    post:
      operationId: ArchiveDevices
      tags:
      - Devices
      summary: Archive devices
      description: Archive one or more devices by changing their status to archived
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      responses:
        '200':
          description: Devices archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceArchiveResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/devices/restore:
    post:
      operationId: RestoreDevices
      tags:
      - Devices
      summary: Restore archived devices
      description: Restore one or more archived devices by changing their status to active
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      responses:
        '200':
          description: Devices restored successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRestoreResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/devices/suspend:
    post:
      operationId: SuspendDevices
      tags:
      - Devices
      summary: Suspend devices
      description: Suspend one or more devices by changing their status to suspended
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      responses:
        '200':
          description: Devices suspended successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSuspendResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/devices/resume:
    post:
      operationId: ResumeDevices
      tags:
      - Devices
      summary: Resume suspended devices
      description: Resume one or more suspended devices by changing their status to active
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      responses:
        '200':
          description: Devices resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResumeResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/devices/delete:
    post:
      operationId: DeleteDevices
      tags:
      - Devices
      summary: Delete devices
      description: Delete one or more devices permanently. Suspended devices cannot be deleted - they must be resumed first.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      responses:
        '200':
          description: Devices deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDeleteResponse'
        '400':
          description: Bad request - invalid input or attempting to delete suspended devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/devices/force-reauth:
    post:
      operationId: ForceReauthDevices
      tags:
      - Devices
      summary: Force re-authentication for devices
      description: Force re-authentication on one or more specific devices. Upon execution, targeted devices will require their user to re-authenticate to the browser.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      responses:
        '200':
          description: Force re-authentication initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceForceReauthResponse'
        '400':
          description: Bad request - invalid input or too many devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/user-groups:
    get:
      operationId: ListUserGroups
      tags:
      - User Groups
      summary: Returns a list of user groups
      parameters:
      - name: limit
        in: query
        description: Number of user requests to return
        required: false
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of user groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserGroup'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal server error
    post:
      operationId: CreateUserGroup
      tags:
      - User Groups
      summary: Creates a new user group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the user group
                userIds:
                  type: array
                  items:
                    type: string
                  description: List of user IDs
              required:
              - name
              - userIds
      responses:
        '201':
          description: User group created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  userGroupId:
                    type: string
                    description: The ID of the newly created user group
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal server error
  /seb-api/v1/user-groups/{id}:
    get:
      operationId: GetUserGroupByID
      tags:
      - User Groups
      summary: Returns a single user group by ID
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the user group to retrieve
        schema:
          type: string
      responses:
        '200':
          description: A single user group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: User group not found
        '500':
          description: Internal server error
    put:
      operationId: UpdateUserGroup
      tags:
      - User Groups
      summary: Updates a user group
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the user group to update
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: object
                    properties:
                      userId:
                        type: string
                        description: User ID
                      action:
                        type: string
                        enum:
                        - add
                        - remove
                        description: Action to perform (add or remove the user)
                    required:
                    - userId
                    - action
                  description: List of user updates
              required:
              - users
      responses:
        '200':
          description: User group updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  userGroupId:
                    type: string
                    description: The ID of the updated user group
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: User group not found
        '500':
          description: Internal server error
    delete:
      operationId: DeleteUserGroup
      tags:
      - User Groups
      summary: Deletes a user group
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the user group to delete
        schema:
          type: string
      responses:
        '200':
          description: User group deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  userGroupId:
                    type: string
                    description: The ID of the deleted user group
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: User group not found
        '500':
          description: Internal server error
  /seb-api/v1/applications:
    get:
      operationId: ListApplications
      tags:
      - Applications
      summary: Returns a list of applications
      description: Fetches all application objects, with support for filtering and pagination.
      parameters:
      - in: query
        name: type
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
        required: false
      - $ref: '#/components/parameters/nameParameter'
      - $ref: '#/components/parameters/urlParameter'
      - $ref: '#/components/parameters/limitParameter'
      - $ref: '#/components/parameters/cursorParameter'
      - $ref: '#/components/parameters/sortParam'
      - $ref: '#/components/parameters/orderParameter'
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: A list of all application objects
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/applications/type/{type}:
    get:
      operationId: ListApplicationsByType
      tags:
      - Applications
      summary: Returns a list of applications
      description: Fetches application objects belonging to a specific type.
      parameters:
      - $ref: '#/components/parameters/typeParameter'
      - in: query
        name: name
        schema:
          type: string
        description: Optional name to search in applications
        required: false
      - in: query
        name: url
        schema:
          type: string
        description: Optional URL to search in applications
        required: false
      - $ref: '#/components/parameters/configurationVersionParam'
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of applications to return
        required: false
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/sortParam'
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: A list of all application objects
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal server error
    post:
      operationId: CreateApplication
      tags:
      - Applications
      summary: Creates an application
      description: 'Adds a new application of the specified type to the management console.


        **URL Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.

        '
      parameters:
      - $ref: '#/components/parameters/typeParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrReplaceAppInput'
      responses:
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/applications/{id}:
    get:
      operationId: GetApplicationByID
      tags:
      - Applications
      summary: Returns an application
      description: Fetches a specific application object identified by its unique ID.
      parameters:
      - $ref: '#/components/parameters/idParameter'
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: An Application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: DeleteApplicationByID
      tags:
      - Applications
      summary: Deletes an application
      description: Permanently removes a specific application identified by its ID.
      parameters:
      - $ref: '#/components/parameters/idParameter'
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/applications/bulk-delete:
    post:
      operationId: BulkDeleteApplications
      tags:
      - Applications
      summary: Delete multiple applications atomically
      description: Permanently removes multiple applications identified by their IDs in a single atomic operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appIds:
                  type: array
                  items:
                    type: string
                    pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
                  description: Array of application IDs to be deleted
                  minItems: 1
                  maxItems: 2000
              required:
              - appIds
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/applications/bulk-create/{type}:
    post:
      operationId: BulkCreateApplications
      tags:
      - Applications
      summary: Creates multiple applications
      description: 'Adds multiple new applications of the specified type to the management console in a single operation.


        **URL Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.

        '
      parameters:
      - $ref: '#/components/parameters/typeParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateOrReplaceAppInput'
              maxItems: 1000
              minItems: 1
      responses:
        '201':
          $ref: '#/components/responses/BulkCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/applications/type/{type}/{id}:
    get:
      operationId: GetApplicationByTypeAndID
      tags:
      - Applications
      summary: Returns an application
      description: Fetches a specific application object belonging to the specified type.
      parameters:
      - $ref: '#/components/parameters/typeParameter'
      - $ref: '#/components/parameters/idParameter'
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: An Application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: DeleteApplicationByTypeAndID
      tags:
      - Applications
      summary: Deletes an application
      description: Removes an application of the specified type from the system.
      parameters:
      - $ref: '#/components/parameters/typeParameter'
      - $ref: '#/components/parameters/idParameter'
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: PatchApplicationByTypeAndID
      tags:
      - Applications
      summary: Updates an application
      description: 'Partially updates an application - provided attributes are set as specified, others remain unchanged.


        **URL Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.

        '
      parameters:
      - $ref: '#/components/parameters/typeParameter'
      - $ref: '#/components/parameters/idParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAppInput'
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/application-groups:
    get:
      operationId: ListApplicationGroups
      tags:
      - Application Groups
      summary: Returns a list of application groups
      description: Fetches all application groups with support for name-based filtering and sorting.
      parameters:
      - $ref: '#/components/parameters/configurationVersionParam'
      - in: query
        name: name
        schema:
          type: string
        description: Optional name string to search in application groups
        required: false
      - in: query
        name: cursor
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - in: query
        name: limit
        description: Number of application groups to return
        required: false
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/parameters-sortParam'
      - in: query
        name: order
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: A list of application group objects
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationGroup'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal server error
    post:
      operationId: CreateApplicationGroup
      tags:
      - Application Groups
      summary: Creates an application group
      description: Defines a new group and associates it with a list of application IDs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrReplaceAppGroupInput'
      responses:
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/application-groups/{id}:
    get:
      operationId: GetApplicationGroupByID
      tags:
      - Application Groups
      summary: Returns an application group
      description: Fetches a single application group by its unique ID.
      parameters:
      - $ref: '#/components/parameters/parameters-idParameter'
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: An Application Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGroup'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Application Group Not found
        '500':
          description: Internal server error
    delete:
      operationId: DeleteApplicationGroupByID
      tags:
      - Application Groups
      summary: Deletes an application group
      description: Permanently removes an application group identified by its ID.
      parameters:
      - $ref: '#/components/parameters/parameters-idParameter'
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: PatchApplicationGroupByID
      tags:
      - Application Groups
      summary: Updates an application group
      description: Partially updates an application group - provided attributes are set as specified, others remain unchanged.
      parameters:
      - $ref: '#/components/parameters/parameters-idParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAppGroupInput'
      responses:
        '200':
          $ref: '#/components/responses/Updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/applications/categories:
    get:
      operationId: ListApplicationCategories
      tags:
      - Applications
      summary: Returns a list of available application categories
      responses:
        '200':
          description: A list of the available application categories
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      type: string
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /seb-api/v1/applications/plugins:
    get:
      operationId: ListApplicationPlugins
      tags:
      - Plugins
      summary: Returns a list of application plugins
      responses:
        '200':
          description: A list of all application plugin objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PluginResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal server error
  /seb-api/v1/applications/{id}/plugins:
    get:
      operationId: GetApplicationPlugin
      tags:
      - Plugins
      summary: Returns the plugin associated with the application ID
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the application to retrieve the plugin for
        schema:
          type: string
      responses:
        '200':
          description: A single plugin associated with the application ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Plugin not found
        '500':
          description: Internal server error
    post:
      operationId: CreateApplicationPlugin
      tags:
      - Plugins
      summary: Creates a new plugin associated with the application ID
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the application to create the plugin for
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plugin:
                  $ref: '#/components/schemas/Plugin'
              required:
              - plugin
      responses:
        '201':
          description: Plugin created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  pluginId:
                    type: string
                    description: The ID of the newly created plugin
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '500':
          description: Internal server error
    put:
      operationId: UpdateApplicationPlugin
      tags:
      - Plugins
      summary: Updates the plugin associated with the application ID
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the application to update the plugin for
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plugin:
                  $ref: '#/components/schemas/Plugin'
              required:
              - plugin
      responses:
        '200':
          description: Plugin updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  pluginId:
                    type: string
                    description: The ID of the updated plugin
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Plugin not found
        '500':
          description: Internal server error
    delete:
      operationId: DeleteApplicationPlugin
      tags:
      - Plugins
      summary: Deletes the plugin associated with the application ID
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the application associated with the plugin to delete
        schema:
          type: string
      responses:
        '200':
          description: Plugin deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  pluginId:
                    type: string
                    description: The ID of the deleted plugin
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: User group not found
        '500':
          description: Internal server error
  /seb-api/v1/device-groups:
    get:
      operationId: ListDeviceGroups
      tags:
      - Device Groups
      summary: Returns a list of device groups
      parameters:
      - name: limit
        in: query
        description: Number of device groups to return
        required: false
        schema:
          type: integer
          format: int32
      - name: deviceGroup.name
        in: query
        description: Filter by device group name
        required: false
        schema:
          type: string
      - name: deviceGroup.platform
        in: query
        description: Filter by device group platform
        required: false
        schema:
          $ref: '#/components/schemas/DeviceGroupPlatform'
      - name: deviceGroup.created_at_gte
        in: query
        description: Filter by created at time or after
        required: false
        schema:
          type: string
          format: date-time
      - name: deviceGroup.created_at_lte
        in: query
        description: Filter by created at time or before
        required: false
        schema:
          type: string
          format: date-time
      - name: deviceGroup.updated_at_gte
        in: query
        description: 'Filter by updated at time or after. Format: RFC3339 (e.g., "2023-03-29T00:00:00Z")'
        required: false
        schema:
          type: string
          format: date-time
      - name: deviceGroup.updated_at_lte
        in: query
        description: 'Filter by updated at time or before. Format: RFC3339 (e.g., "2023-03-29T23:59:59Z")'
        required: false
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: The field to sort by
        required: false
        schema:
          type: string
          enum:
          - deviceGroup.name
          - deviceGroup.platform
          - deviceGroup.created_at
          - deviceGroup.updated_at
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: A list of device groups with pagination info
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeviceGroup'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal server error
    post:
      operationId: CreateDeviceGroup
      tags:
      - Device Groups
      summary: Create a new device group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupRequest'
      responses:
        '201':
          description: Device group created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceGroupId:
                    type: string
                    description: The ID of the newly created device group
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '409':
          description: Conflict - device group already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
  /seb-api/v1/device-groups/{device-group-id}:
    get:
      operationId: GetDeviceGroupByID
      tags:
      - Device Groups
      summary: Returns a device group by ID
      parameters:
      - name: device-group-id
        in: path
        description: Device Group ID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: A device group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Device group not found
        '500':
          description: Internal server error
    put:
      operationId: UpdateDeviceGroup
      tags:
      - Device Groups
      summary: Replace entire device group
      description: Replaces the entire device group - missing attributes are disabled, provided attributes are set as specified.
      parameters:
      - name: device-group-id
        in: path
        required: true
        description: The ID of the device group to update
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupRequest'
      responses:
        '200':
          description: Device group updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceGroupId:
                    type: string
                    description: The ID of the updated device group
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Device group not found
        '500':
          description: Internal server error
    patch:
      operationId: PatchDeviceGroup
      tags:
      - Device Groups
      summary: Partially update device group
      description: Partially updates the device group - provided attributes are set as specified, others remain unchanged.
      parameters:
      - name: device-group-id
        in: path
        required: true
        description: The ID of the device group to update
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupPatchRequest'
      responses:
        '200':
          description: Device group updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceGroupId:
                    type: string
                    description: The ID of the updated device group
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Device group not found
        '500':
          description: Internal server error
    delete:
      operationId: DeleteDeviceGroup
      tags:
      - Device Groups
      summary: Deletes a device group
      parameters:
      - name: device-group-id
        in: path
        required: true
        description: The ID of the device group to delete
        schema:
          type: string
      responses:
        '204':
          description: Device group deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Device group not found
        '500':
          description: Internal server error
  /seb-api/v1/configuration-management/draft/publish:
    post:
      operationId: PublishDraftConfiguration
      tags:
      - Configuration Management
      summary: Publish Draft
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Provide description to describe this version
                  maxLength: 255
      responses:
        '201':
          description: Active version was created successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '409':
          description: Draft contains no changes, No Active version was created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: info message
                    example: No pending changes found in the current draft
        '500':
          description: Internal server error
        '501':
          description: Draft Mode is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: info message
                    example: Draft mode is not supported
  /seb-api/v1/policy/sign-in:
    get:
      operationId: GetSignInPolicy
      tags:
      - Sign-In Policy
      summary: Retrieve the Sign-In Policy
      description: Fetches the complete sign-in policy, which is an ordered list of rules and sections.
      parameters:
      - $ref: '#/components/parameters/configurationVersionParam'
      - name: limit
        in: query
        description: The maximum number of items to return. Used for pagination
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 100
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the sign-in policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    description: An array of Rule and Section objects for the page
                    items:
                      $ref: '#/components/schemas/PolicyItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Policy version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/sign-in/rules/{id}:
    get:
      operationId: GetSignInRuleByID
      tags:
      - Sign-In Policy
      summary: Retrieve a Sign-In Rule by ID
      description: Fetches a single, detailed sign-in rule object by its unique identifier. The response is structured into four sections general, scope, action, and metadata.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the rule to retrieve
        schema:
          type: string
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: Successfully retrieved the sign-in rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInRuleDetailed'
        '400':
          description: Bad request - Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    patch:
      operationId: PatchSignInRuleByID
      tags:
      - Sign-In Policy
      summary: Partially update a Sign-In policy rule. All fields are optional.
      description: 'Partially update a Sign-In rule object by its unique identifier. All fields are optional.

        '
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the rule to update.
        schema:
          type: string
          minLength: 29
          maxLength: 29
          pattern: ^0[A-Z]{2}[0-9A-Z]{26}$
      requestBody:
        description: Partial rule fields to update. At least one field must be provided.
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BasePatchRuleRequest'
              - type: object
                properties:
                  action:
                    $ref: '#/components/schemas/SignInRuleAction'
                additionalProperties: false
      responses:
        '200':
          description: Successfully updated the sign-in rule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the rule to update.
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: DeleteSignInRuleByID
      tags:
      - Sign-In Policy
      summary: Delete a Sign-In policy rule.
      description: 'Delete a Sign-In rule object by its unique identifier.

        '
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the rule to delete.
        schema:
          type: string
          minLength: 29
          maxLength: 29
          pattern: ^0[A-Z]{2}[0-9A-Z]{26}$
        example: 0AB06GY5P54Q1QN4MKR4AS8GAVRK9
      responses:
        '204':
          description: Successfully deleted the sign-in rule.
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/sign-in/rules:
    post:
      operationId: CreateSignInRule
      tags:
      - Sign-In Policy
      summary: Creates a new sign-in rule in the policy.
      description: Creates a new sign-in rule in the policy. The rule is created in the draft configuration and must be published to become active.
      requestBody:
        description: The name, mode and action fields are required.
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              required:
              - name
              - mode
              - action
              properties:
                name:
                  type: string
                  description: The name or title of the rule.
                  minLength: 1
                  maxLength: 300
                description:
                  type: string
                  description: The detailed description of the rule.
                  maxLength: 300
                mode:
                  $ref: '#/components/schemas/RuleMode'
                scope:
                  $ref: '#/components/schemas/PostScope'
                action:
                  $ref: '#/components/schemas/SignInRuleAction'
                positioning:
                  $ref: '#/components/schemas/PolicyPositioning'
              additionalProperties: false
      responses:
        '201':
          description: Successfully created the sign-in rule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the rule to update.
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/sign-in/sections:
    post:
      operationId: CreateSignInSection
      tags:
      - Sign-In Policy
      summary: Creates a new sign-in rule section for grouping rules.
      description: Creates a new sign-in rule section. The section is created in the draft configuration and must be published to become active.
      requestBody:
        description: The positioning field is optional.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionPostRequest'
      responses:
        '201':
          description: Successfully created the sign-in section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDetailed'
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/security:
    get:
      operationId: GetSecurityPolicy
      tags:
      - Security Policy
      summary: Retrieve the Security Policy
      description: Fetches the complete security policy, which is an ordered list of rules and sections.
      parameters:
      - $ref: '#/components/parameters/configurationVersionParam'
      - name: limit
        in: query
        description: The maximum number of items to return. Used for pagination
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 100
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the security policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    description: An array of Rule and Section objects for the page
                    items:
                      $ref: '#/components/schemas/PolicyItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden. Endpoint not available or insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Policy version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/security/sections:
    post:
      operationId: CreateSecuritySection
      tags:
      - Security Policy
      summary: Creates a new security section.
      description: Creates a new section for grouping security rules.
      requestBody:
        description: The positioning field is optional.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionPostRequest'
      responses:
        '201':
          description: Successfully created the security section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDetailed'
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/access-and-data:
    get:
      operationId: GetAccessAndDataPolicy
      tags:
      - Access And Data Policy
      summary: Retrieve the Access and Data Policy
      description: Fetches the complete access and data policy, which is an ordered list of rules and sections.
      parameters:
      - $ref: '#/components/parameters/configurationVersionParam'
      - name: limit
        in: query
        description: The maximum number of items to return. Used for pagination
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 100
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the access and data policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    description: An array of Rule and Section objects for the page
                    items:
                      $ref: '#/components/schemas/PolicyItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden. Endpoint not available or insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Policy version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/access-and-data/sections:
    post:
      operationId: CreateAccessAndDataSection
      tags:
      - Access And Data Policy
      summary: Creates a new Access and Data section.
      description: Creates a new section for grouping Access and Data rules.
      requestBody:
        description: The positioning field is optional.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionPostRequest'
      responses:
        '201':
          description: Successfully created the Access and Data section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDetailed'
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/sign-in/sections/{id}:
    get:
      operationId: GetSignInSectionByID
      tags:
      - Sign-In Policy
      summary: Retrieve a Sign-In Section by ID
      description: Fetches a single sign-in rule section by its unique identifier.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the section to retrieve (PULID format)
        schema:
          type: string
          minLength: 29
          maxLength: 29
          pattern: ^0[A-Z]{2}[0-9A-Z]{26}$
          example: 0SR06GY5P54Q1QN4MKR4AS8GAVRK9
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: Successfully retrieved the sign-in section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDetailed'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions or feature not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Section not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      operationId: UpdateSignInSectionByID
      tags:
      - Sign-In Policy
      summary: Updates a sign-in rule section.
      description: 'Updates a sign-in rule section by its unique identifier. Only operates on sections of type signIn.

        '
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the section to update.
        schema:
          type: string
          pattern: ^0[A-Z]{2}[0-9A-Z]{26}$
      requestBody:
        description: Section fields to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionUpdateRequest'
      responses:
        '200':
          description: Successfully updated the sign-in section.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the updated section.
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Section not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    patch:
      operationId: PatchSignInSectionByID
      tags:
      - Sign-In Policy
      summary: Partially update a sign-in policy section.
      description: 'Partially update a sign-in policy section by its unique identifier. All fields are optional; at least one must be provided. Supports updating the section name and/or repositioning the section within the policy. Only operates on sections of type signIn.

        '
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the section to update.
        schema:
          type: string
          minLength: 29
          maxLength: 29
          pattern: ^0[A-Z]{2}[0-9A-Z]{26}$
      requestBody:
        description: Partial section fields to update. At least one field must be provided.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionPatchRequest'
      responses:
        '200':
          description: Successfully updated the sign-in policy section.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the updated section.
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Section not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: DeleteSignInSectionByID
      tags:
      - Sign-In Policy
      summary: Delete a sign-in rule section.
      description: 'Delete a sign-in rule section by its unique identifier.

        '
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the sign-in section to delete.
        schema:
          type: string
      - name: deleteRules
        in: query
        required: false
        description: 'Controls what happens to rules in the section when it is deleted. When false (default), all rules in the section become standalone — they are detached from the section but not deleted. When true, non-default rules are deleted along with the section; default rules are detached.

          '
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: Section successfully deleted. No response body is returned.
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions or endpoint not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Section does not exist or belongs to a different tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/access-and-data/sections/{id}:
    get:
      operationId: GetAccessAndDataSectionByID
      tags:
      - Access And Data Policy
      summary: Retrieve an Access and Data Section by ID
      description: Fetches a single access and data rule section by its unique identifier.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the section to retrieve (PULID format)
        schema:
          type: string
          minLength: 29
          maxLength: 29
          pattern: ^0[A-Z]{2}[0-9A-Z]{26}$
          example: 0SR06GY5P54Q1QN4MKR4AS8GAVRK9
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: Successfully retrieved the access and data section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDetailed'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions or feature not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Section not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      operationId: UpdateAccessAndDataSectionByID
      tags:
      - Access And Data Policy
      summary: Updates an access-and-data rule section.
      description: 'Updates an access-and-data rule section by its unique identifier. Only operates on sections of type accessAndData.

        '
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the section to update.
        schema:
          type: string
          pattern: ^0[A-Z]{2}[0-9A-Z]{26}$
      requestBody:
        description: Section fields to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionUpdateRequest'
      responses:
        '200':
          description: Successfully updated the access-and-data section.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the updated section.
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Section not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    patch:
      operationId: PatchAccessAndDataSectionByID
      tags:
      - Access And Data Policy
      summary: Partially update an access-and-data rule section.
      description: 'Partially update an access-and-data rule section by its unique identifier. All fields are optional; at least one must be provided. Supports updating the section name and/or repositioning the section within the policy. Only operates on sections of type accessAndData.

        '
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the section to update.
        schema:
          type: string
          minLength: 29
          maxLength: 29
          pattern: ^0[A-Z]{2}[0-9A-Z]{26}$
      requestBody:
        description: Partial section fields to update. At least one field must be provided.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionPatchRequest'
      responses:
        '200':
          description: Successfully updated the access-and-data section.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the updated section.
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - Section not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: DeleteAccessAndDataSectionByID
      tags:
      - Access And Data Policy
      summary: Delete an access and data rule section.
      description: 'Delete an access and data rule section by its unique identifier.

        '
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the access and data section to delete.
        schema:
          type: string
      - name: deleteRules
        in: query
        required: false
        description: 'Controls what happens to rules in the section when it is deleted. When false (default), all rules in the section become standalone — they are detached from the section but not deleted. When true, non-default rules are deleted along with the section; default rules are detached.

          '
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: Section successfully deleted. No response body is returned.
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions or endpoint not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found - Section does not exist or belongs to a different tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/security/rules:
    post:
      operationId: CreateSecurityRule
      tags:
      - Security Policy
      summary: Creates a new security policy rule.
      description: Creates a new security rule in the policy. The rule is created in the draft configuration and must be published to become active.
      requestBody:
        description: The name and mode fields are required.
        required: true
        content:
          application/json:
            schema:
              description: Request body for creating a Security Policy rule.
              allOf:
              - $ref: '#/components/schemas/BasePostRuleRequest'
              - type: object
                required:
                - controls
                properties:
                  controls:
                    $ref: '#/components/schemas/SecurityControls'
                additionalProperties: false
      responses:
        '201':
          description: Successfully created the security rule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the created rule (PULID, 29 chars).
                    example: 0RL0123456789012345678901234
        '400':
          description: Bad request - Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /seb-api/v1/policy/security/rules/{id}:
    get:
      operationId: GetSecurityRuleByID
      tags:
      - Security Policy
      summary: Retrieve a Security Rule by ID
      description: Fetches a single, detailed security rule object by its unique identifier.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the rule to retrieve
        schema:
          type: string
      - $ref: '#/components/parameters/configurationVersionParam'
      responses:
        '200':
          description: Successfully retrieved the security rule.
          content:
            application/json:
              schema:
[...]
