{% if has_errors %}"""Errors component smoke tests (generated)."""

from {{ package }}.exceptions import ApiException
from {{ package }}.extras import errors


def test_errors_helpers() -> None:
    assert callable(errors.error_message)
    assert issubclass(errors.RateLimitException, ApiException)
{% endif %}